In [44]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [45]:
#load the dataset
data = pd.read_csv('/content/test.csv')
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393,7394,NaN,42000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de..."
4394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de..."
4395,7396,NaN,16000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de..."
4396,7397,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de..."
4397,7398,NaN,64000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0056663,fr,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",9/20/62,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,The many faces of a woman trying to find herse...,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de..."

In [46]:
# Show the names of columns in the DataFrame
print(data.columns)

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew'],
      dtype='object')

In [47]:
#to show the first few rowa
data.head(7)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."
5,3006,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0120238,en,SubUrbia,A group of suburban teenagers try to support e...,8.679350,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/7/96,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,SubUrbia,"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 4, 'character': 'Pony', 'credit_i...","[{'credit_id': '52fe4576c3a368484e05c901', 'de..."
6,3007,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,tt1517177,de,Drei,Hanna and Simon are in a 20 year marriage with...,4.898882,...,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",12/23/10,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Imagine the possibilities.,Three,"[{'id': 572, 'name': 'sex'}, {'id': 154937, 'n...","[{'cast_id': 2, 'character': 'Hanna', 'credit_...","[{'credit_id': '52fe485bc3a36847f816358d', 'de..."

In [48]:
#to show last few rows
data.tail(7)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
4391,7392,NaN,10000000,"[{'id': 18, 'name': 'Drama'}]",http://www.weareallprecious.com/,tt0929632,en,Precious,"Set in Harlem in 1987, Claireece ""Precious"" Jo...",8.293548,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",11/6/09,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Life is hard. Life is short. Life is painful. ...,Precious,"[{'id': 740, 'name': 'aids'}, {'id': 2073, 'na...","[{'cast_id': 1, 'character': 'Precious', 'cred...","[{'credit_id': '52fe44dec3a368484e03b7bf', 'de..."
4392,7393,"[{'id': 528, 'name': 'The Terminator Collectio...",155000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.terminatormovie.com/,tt1340138,en,Terminator Genisys,"The year is 2029. John Connor, leader of the r...",30.188198,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",6/23/15,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Reset the future,Terminator Genisys,"[{'id': 83, 'name': 'saving the world'}, {'id'...","[{'cast_id': 1, 'character': 'The Terminator',...","[{'credit_id': '5605f91d925141306000071e', 'de..."
4393,7394,NaN,42000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de..."
4394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de..."
4395,7396,NaN,16000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de..."
4396,7397,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de..."
4397,7398,NaN,64000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0056663,fr,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",9/20/62,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,The many faces of a woman trying to find herse...,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de..."

In [49]:
#to check datatypes
data.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
dtype: object

In [50]:
#to check sstatistical data
data.describe(include = 'all')

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
count,4398.000000,877,4.398000e+03,4382,1420,4398,4398,4398,4384,4398.000000,...,4296,4397,4394.000000,4356,4396,3535,4395,4005,4385,4376
unique,NaN,556,NaN,1101,1402,4398,39,4353,4383,NaN,...,458,3289,NaN,526,3,3529,4342,3885,4365,4376
top,NaN,"[{'id': 645, 'name': 'James Bond Collection', ...",NaN,"[{'id': 18, 'name': 'Drama'}]",http://www.thehungergames.movie/,tt1226251,en,Taxi,No overview found.,NaN,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",9/9/11,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What could go wrong?,Julia,"[{'id': 187056, 'name': 'woman director'}]",[],"[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
freq,NaN,10,NaN,348,3,1,3776,2,2,NaN,...,2587,7,NaN,2704,4389,2,2,30,21,1
mean,5199.500000,NaN,2.264929e+07,NaN,NaN,NaN,NaN,NaN,NaN,8.550230,...,NaN,NaN,107.622212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1269.737571,NaN,3.689991e+07,NaN,NaN,NaN,NaN,NaN,NaN,12.209014,...,NaN,NaN,21.058290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3001.000000,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000001,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4100.250000,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,3.895186,...,NaN,NaN,94.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5199.500000,NaN,7.450000e+06,NaN,NaN,NaN,NaN,NaN,NaN,7.482242,...,NaN,NaN,104.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,6298.750000,NaN,2.800000e+07,NaN,NaN,NaN,NaN,NaN,NaN,10.938524,...,NaN,NaN,118.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,7398.000000,NaN,2.600000e+08,NaN,NaN,NaN,NaN,NaN,NaN,547.488298,...,NaN,NaN,320.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4398 non-null   int64
 1   belongs_to_collection  877 non-null    object
 2   budget                 4398 non-null   int64
 3   genres                 4382 non-null   object
 4   homepage               1420 non-null   object
 5   imdb_id                4398 non-null   object
 6   original_language      4398 non-null   object
 7   original_title         4398 non-null   object
 8   overview               4384 non-null   object
 9   popularity             4398 non-null   float64
 10  poster_path            4397 non-null   object
 11  production_companies   4140 non-null   object
 12  production_countries   4296 non-null   object
 13  release_date           4397 non-null   object
 14  runtime                4394 non-null   float64
 15  spoken_languages       4356 non-null   object
 16  status                 4396 non-null   object
 17  tagline                3535 non-null   object
 18  title                  4395 non-null   object
 19  Keywords               4005 non-null   object
 20  cast                   4385 non-null   object
 21  crew                   4376 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [52]:
#checking missing values
# Check for missing values
missing_values = data.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

belongs_to_collection    3521
genres                     16
homepage                 2978
overview                   14
poster_path                 1
production_companies      258
production_countries      102
release_date                1
runtime                     4
spoken_languages           42
status                      2
tagline                   863
title                       3
Keywords                  393
cast                       13
crew                       22
dtype: int64

In [53]:
# Step 1: Identify values in budget starting with '0.' and treat them as missing
# Convert those values to NaN
data.loc[data['budget'].astype(str).str.startswith('0.'), 'budget'] = pd.NA
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000.0,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393,7394,NaN,42000000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de..."
4394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de..."
4395,7396,NaN,16000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de..."
4396,7397,NaN,2000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de..."
4397,7398,NaN,64000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0056663,fr,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",9/20/62,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,The many faces of a woman trying to find herse...,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de..."

In [54]:
# List of numerical columns
numerical_columns = ['budget', 'popularity', 'runtime']

# 1. Impute missing values with mean
num_imputer = SimpleImputer(strategy='mean')
data[numerical_columns] = num_imputer.fit_transform(data[numerical_columns])

# Display the count of missing values for numerical columns to verify
print(data[numerical_columns].isnull().sum())

budget        0
popularity    0
runtime       0
dtype: int64

In [55]:
# List of categorical columns
categorical_columns = [
    'belongs_to_collection', 'genres', 'production_companies',
    'production_countries', 'original_language', 'spoken_languages', 'status'
]

# Create an imputer for categorical data, using the most frequent strategy
cat_imputer = SimpleImputer(strategy='most_frequent')

# Apply imputer to categorical columns and store back in the original DataFrame
data[categorical_columns] = cat_imputer.fit_transform(data[categorical_columns])

# Check if missing values are handled
print(data[categorical_columns].isnull().sum())

belongs_to_collection    0
genres                   0
production_companies     0
production_countries     0
original_language        0
spoken_languages         0
status                   0
dtype: int64

In [56]:
# List of columns to drop
columns_to_drop = ['id', 'imdb_id', 'poster_path', 'homepage', 'tagline', 'overview']

# Drop the columns from the DataFrame
data.drop(columns=columns_to_drop, inplace=True)

# Display the first few rows to verify the columns are dropped
print(data.head())

                               belongs_to_collection     budget  \
0  [{'id': 34055, 'name': 'Pokémon Collection', '...        0.0
1  [{'id': 645, 'name': 'James Bond Collection', ...    88000.0
2  [{'id': 645, 'name': 'James Bond Collection', ...        0.0
3  [{'id': 645, 'name': 'James Bond Collection', ...  6800000.0
4  [{'id': 645, 'name': 'James Bond Collection', ...  2000000.0

                                              genres original_language  \
0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...                ja
1  [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...                en
2  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...                en
3  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...                fr
4  [{'id': 36, 'name': 'History'}, {'id': 99, 'na...                en

                original_title  popularity  \
0           ディアルガVSパルキアVSダークライ    3.851534
1  Attack of the 50 Foot Woman    3.559789
2             Addicted to Love    8.085194
3                    Incendies    8.596012
4           Inside Deep Throat    3.217680

                                production_companies  \
0          [{'name': 'Paramount Pictures', 'id': 4}]
1  [{'name': 'Woolner Brothers Pictures Inc.', 'i...
2  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3  [{'name': 'TS Productions', 'id': 313}, {'name...
4          [{'name': 'Paramount Pictures', 'id': 4}]

                                production_countries release_date  runtime  \
0  [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...      7/14/07     90.0
1  [{'iso_3166_1': 'US', 'name': 'United States o...      5/19/58     65.0
2  [{'iso_3166_1': 'US', 'name': 'United States o...      5/23/97    100.0
3  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...       9/4/10    130.0
4  [{'iso_3166_1': 'US', 'name': 'United States o...      2/11/05     92.0

                                    spoken_languages    status  \
0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1           [{'iso_639_1': 'en', 'name': 'English'}]  Released
2           [{'iso_639_1': 'en', 'name': 'English'}]  Released
3  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
4           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                          title  \
0  Pokémon: The Rise of Darkrai
1   Attack of the 50 Foot Woman
2              Addicted to Love
3                     Incendies
4            Inside Deep Throat

                                            Keywords  \
0  [{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...
1  [{'id': 9748, 'name': 'revenge'}, {'id': 9951,...
2  [{'id': 931, 'name': 'jealousy'}, {'id': 9673,...
3  [{'id': 378, 'name': 'prison'}, {'id': 539, 'n...
4  [{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...

                                                cast  \
0  [{'cast_id': 3, 'character': 'Tonio', 'credit_...
1  [{'cast_id': 2, 'character': 'Nancy Fowler Arc...
2  [{'cast_id': 11, 'character': 'Maggie', 'credi...
3  [{'cast_id': 6, 'character': 'Nawal', 'credit_...
4  [{'cast_id': 1, 'character': 'Narrator (voice)...

                                                crew
0  [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1  [{'credit_id': '55807805c3a3685b1300060b', 'de...
2  [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3  [{'credit_id': '56478092c3a36826140043af', 'de...
4  [{'credit_id': '52fe44ce9251416c75041967', 'de...

In [57]:
#verify all misising values has been handled
# Check for any remaining missing values in the entire dataset
missing_values = data.isnull().sum()

# Display columns with missing values, if any
print("Missing values in each column:\n", missing_values[missing_values > 0])

Missing values in each column:
 release_date      1
title             3
Keywords        393
cast             13
crew             22
dtype: int64

In [58]:
# Columns with missing values
columns_with_missing_values = ['release_date', 'title', 'Keywords', 'cast', 'crew']

# 1. Impute 'release_date' and 'title' with the most frequent value (mode)
cat_imputer = SimpleImputer(strategy='most_frequent')
data[['release_date', 'title']] = cat_imputer.fit_transform(data[['release_date', 'title']])

# 2. Impute 'Keywords', 'cast', and 'crew' with the most frequent value (mode)
data[['Keywords', 'cast', 'crew']] = cat_imputer.fit_transform(data[['Keywords', 'cast', 'crew']])

# Verify that missing values are handled
print(data[columns_with_missing_values].isnull().sum())

release_date    0
title           0
Keywords        0
cast            0
crew            0
dtype: int64

In [59]:
#verify all misising values has been handled
# Check for any remaining missing values in the entire dataset
missing_values = data.isnull().sum()

# Display columns with missing values, if any
print("Missing values in each column:\n", missing_values[missing_values > 0])

Missing values in each column:
 Series([], dtype: int64)

In [61]:
#Label Encoding for the status Column
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Encode the 'Sex' column
data['status'] = le.fit_transform(data['status'])

# Verify the encoding
print(data[['status']].head(10))

   status
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [62]:
#apply one hot coding on genres

# Sample data (assuming 'data' is your DataFrame)
data = pd.DataFrame({
    'genres': ['Action|Adventure', 'Comedy|Drama', 'Action', 'Comedy']
})

# Apply one-hot encoding to 'genres'
genres_encoded = data['genres'].str.get_dummies(sep='|')

# Join the encoded columns to the original DataFrame
data = data.join(genres_encoded)

# Drop the original 'genres' column
data = data.drop(columns=['genres'])

# Display the first few rows of the modified DataFrame
print(data.head())

   Action  Adventure  Comedy  Drama
0       1          1       0      0
1       0          0       1      1
2       1          0       0      0
3       0          0       1      0

In [63]:
#one hot coding on belongd to collection

# Sample data (assuming 'data' is your DataFrame)
data = pd.DataFrame({
    'belongs_to_collection': ['Collection1', 'Collection2', 'Collection1', None]
})

# Apply one-hot encoding to 'belongs_to_collection'
belongs_to_collection_encoded = pd.get_dummies(data['belongs_to_collection'], prefix='collection')

# Join the encoded columns to the original DataFrame
data = data.join(belongs_to_collection_encoded)

# Drop the original 'belongs_to_collection' column
data = data.drop(columns=['belongs_to_collection'])

# Display the first few rows of the modified DataFrame
print(data.head())

   collection_Collection1  collection_Collection2
0                    True                   False
1                   False                    True
2                    True                   False
3                   False                   False

In [65]:
# one hot coding on production comapnies

data = pd.DataFrame({
    'production_companies': ['Company1|Company2', 'Company3', 'Company1', 'Company4|Company5']
})

# Apply one-hot encoding to 'production_companies'
production_companies_encoded = data['production_companies'].str.get_dummies(sep='|')

# Join the encoded columns to the original DataFrame
data = data.join(production_companies_encoded)

# Drop the original 'production_companies' column
data = data.drop(columns=['production_companies'])

# Display the first few rows of the modified DataFrame
print(data.head())

   Company1  Company2  Company3  Company4  Company5
0         1         1         0         0         0
1         0         0         1         0         0
2         1         0         0         0         0
3         0         0         0         1         1

In [66]:
#one hot coding on countries
data = pd.DataFrame({
    'production_countries': ['USA|UK', 'France', 'USA', 'Germany|Canada']
})

# Apply one-hot encoding to 'production_countries'
production_countries_encoded = data['production_countries'].str.get_dummies(sep='|')

# Join the encoded columns to the original DataFrame
data = data.join(production_countries_encoded)

# Drop the original 'production_countries' column
data = data.drop(columns=['production_countries'])

# Display the first few rows of the modified DataFrame
print(data.head())

   Canada  France  Germany  UK  USA
0       0       0        0   1    1
1       0       1        0   0    0
2       0       0        0   0    1
3       1       0        1   0    0

In [67]:
#oe hot coding on spoken languages
data = pd.DataFrame({
    'spoken_languages': ['English|Spanish', 'French', 'English', 'Spanish|German']
})

# Apply one-hot encoding to 'spoken_languages'
spoken_languages_encoded = data['spoken_languages'].str.get_dummies(sep='|')

# Join the encoded columns to the original DataFrame
data = data.join(spoken_languages_encoded)

# Drop the original 'spoken_languages' column
data = data.drop(columns=['spoken_languages'])

# Display the first few rows of the modified DataFrame
print(data.head())

   English  French  German  Spanish
0        1       0       0        1
1        0       1       0        0
2        1       0       0        0
3        0       0       1        1